@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Codder !</h1>
    <p>See <a href="https://www.instagram.com/hasancodder/">That is Cool !!</a></p>
</div>
