@model DEMOCORE.Data.books

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="books" asp-action="index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Book</li>
    </ol>
</nav>
<hr />

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations</strong> You have added new book successfully. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


    <div class="container">
        <div class="row">
            
            <form asp-action="Create" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" placeholder="Title Book" required />
                        <span asp-validation-for="Title" class="text-danger"></span>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Author" for="validationTooltip02"></label>
                        <input asp-for="Author" class="form-control" id="validationTooltip02" placeholder="Author Book" required />
                        <span asp-validation-for="Author" class="text-danger"></span>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Totalpages" class="control-label" for="validationTooltip03"></label>
                        <input asp-for="Totalpages" type="number" class="form-control" id="validationTooltip03" placeholder="Total pages">
                        <span asp-validation-for="Totalpages" class="text-danger"></span>
                        <div class="invalid-tooltip">
                            Please provide a valid city.
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Category" class="control-label" for="validationTooltip04"></label>
                        <input asp-for="Category" class="form-control" id="validationTooltip04" placeholder="Category" required>
                        <span asp-validation-for="Category" class="text-danger"></span>
                        <div class="invalid-tooltip">
                            Please provide a valid Category.
                        </div>
                    </div>
                    <div class="col-md-8 mb-3">
                        <label asp-for="Language" class="control-label" for="validationTooltip05"></label>
                        <select asp-for="Language" class="form-control" id="validationTooltip04" placeholder="Language">
                            <option>English</option>
                            <option>China</option>
                            <option>Dutch</option>
                            <option>Arabic</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please provide a valid zip.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Des" class="control-label" for="validationTooltipUsername">Description</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="validationTooltipUsernamePrepend">Description</span>
                            </div>
                            <textarea asp-for="Des" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend"></textarea>
                            <span asp-validation-for="Des" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                </div>
            </form>
                </div>
</div>


